{% extends 'layout.html' %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Bayes Inference</h2>
  <form method="POST" action="/">
      <div class="form-field">
        {{ form.specificity.label }} {{ form.specificity }}
        {% if form.specificity.errors %}
          <ul class="errors">
            {% for error in form.specificity.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">
        {{ form.sensitivity.label }} {{ form.sensitivity }}
        {% if form.sensitivity.errors %}
          <ul class="errors">
            {% for error in form.sensitivity.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">
        {{ form.prevalence.label }} {{ form.prevalence }}
        {% if form.prevalence.errors %}
          <ul class="errors">
            {% for error in form.prevalence.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">
        {{ form.p_threshold.label }} {{ form.p_threshold }}
        {% if form.p_threshold.errors %}
          <ul class="errors">
            {% for error in form.p_threshold.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.bayes_infer }}
  </form>
</div>
{% endblock %}